html {
    scroll-behavior: smooth;
    width: 100%;
 }
 
 body {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
     width: 100%;
 }
 
 /* barra de menu */ 
 header {
     position: fixed;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 9;
 }
 
 .header-logo {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 350px;
     height: 50px;
     color: #fdb600;
     padding: 1.5rem 1rem;
 }
 
 .direcao-index {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }
 
 header a {
     display: flex;
     align-items: center;
     text-decoration: none;
     color: #fdb600;
     font-weight: bold;
     z-index: 3;
     font-size: 30px;
     letter-spacing: 1px;
 }
 
 .header-logo img {
     width: 60px;
     height: 50px;
 }
 
 .header-login {
     width: 200px;
     height: 100%;
     display: flex;
     justify-content: center;
     gap: 10px;
     align-items: center;
     position: relative;
     right: 30px;
     cursor: pointer;
     z-index: 11;
     font-size: 30px;
 }
 
 .header-login img {
     width: 30px;
     transition: all 0.5s ease-in-out;
 }
 
 .carrinho-oculto {
     width: 280px;
     background-color: #726C6C;
     max-height: 550px;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 10;
     transition: all 0.5s ease-in-out;
     border-radius: 0 0 0 20px;
     text-align: center;
     padding: 60px 25px 20px;
 }
 
 .menu-pequeno {
     display: none;
     border-bottom: solid 1px black;
 }


.logado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    z-index: 3;
    padding-bottom: 10px;
}

 .cards-carrinho {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3f3e3e;
    gap: 5px;
    border: 1px solid #42fd00;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
}

.cards-carrinho img {
    width: 50px;
    max-height: 50px;
}

.cards-carrinho button {
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid #42fd00;
    border-radius: 100%;
    color: #42fd00;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.cards-carrinho button:hover {
    background-color: #42fd00;
    color: black;
}

.cards-carrinho button:active {
    transform: translate(0, 5px);
}

.cards-carrinho button.menos-item::before {
    content: "-";
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.cards-carrinho button.mais-item::before {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cards-carrinho span {
    font-size: 20px;
    font-weight: bold;
    color: #42fd00;
}

.cards-carrinho h3 {
    font-size: 15px;
    color: #42fd00;
    font-weight: bold;
}

#list-add-carrinho {
    margin-top: 10px;
    max-height: 350px;
    height: 50%;
    overflow: auto;
}

.btns-carrinho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.btns-carrinho button {
    width: 100px;
    height: 40px;
    background-color: #42fd00;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btns-carrinho button:hover {
    background-color: black;
    color: #42fd00;
}

.btns-carrinho button:active {
    transform: translate(0, 5px);
}

.btns-carrinho {
    display: none;
}
 
.nav-menu-oculto h6 {
     margin: 10px;
     font-size: 15px;
 }
 
 .hidded {
     display: none;
     opacity: 0;
     transition: all 5s ease-in-out;
 }
 
 .rotacao {
     transform: rotate(180deg);
 }
 
 
 
 
 main {
     width: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding: 150px 0;
 }
 
 main img {
     width: 600px;
 }
 
 .produtos {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }
 
 
 .cardapio-haburgers, .cardapio-fritas, .cardapio-bebidas, .cardapio-sobremesas {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }
 
 .produtos h2 {
     text-align: center;
     margin: 50px;
     padding: 100px;
 }
 
 .cards {
     width: 300px;
     height: 400px;
     border: 1px solid black;
     margin: 20px;
     background-color: black;
     border-radius: 20px;
     box-shadow: 0 0 25px 5px #42fd00 ;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 2px solid #42fd00;
 }
 
 .imgs-cards {
    width: 80%;
    height: 150px;
    margin: 10px;
 }
 
 .cardapio-bebidas .imgs-cards {
     width: 80%;
 }
 
 
 .descricao-cards {
     padding: 15px;
     text-align: justify;
     font-size: 20px;
     width: 100%;
     height: 150px;
     overflow: auto;
 }
 
 .btns-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
 }
 
 .cards .btns-cards button {
     height: 30px;
     width: 35%;
     background: none;
     border: none;
     color: #42fd00;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
 }
 
 .btns-cards button img {
     width: 60px;
     transition: all 1s ease-in-out;
 }
 
 .btns-cards button img:hover {
     transform: scale(1.3);
     filter: drop-shadow(0 0 1px #fff);
 
 }
 
 hr {
     width: 70%;
     height: 10px;
     border-radius: 20px;
     background-color: #42fd00;
     position: relative;
     border-color: #42fd00;
     margin: 50px;
 }
 
 footer{
     width: 100%;
     height: 400px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     font-weight: bold;
     background: #726C6C;
     border-radius: 20px 20px 0 0;
     min-width: 600px;
     position: relative;
 
 }   
 
 footer .caixa-conteudo {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 
 footer .caixa-conteudo img {
     width: 200px;
 }
 
 footer .caixa-conteudo .contatos div img {
     width: 25px;
 }
 
 footer .caixa-conteudo .contatos div {
     display: flex;
     align-items: center;
     color: #fdb600;
 }
 
 footer .caixa-conteudo .contatos {
     display: flex;
     gap: 20px;
 }
 
 footer .caixa-conteudo .caixa-texto-infos {
     width: 300px;
     font-size: 20px;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }
 
 .caixa-texto-infos .link-rodape {
    font-size: 20px;
    width: 350px;
 }
 
 .final-page {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }