body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header .menu a {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.historic-pedidos {
  font-size: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

#info-pedidos {
  padding: 30px;
  width: 100%;
  gap: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info-pedidos h2 {
  color: #42fd00;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 50px;
}

#info-pedidos p {
  margin-bottom: 10px;
  margin-left: 50px;
}


#info-pedidos h3 {
  color: #42fd00;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.valores {
  color: #42fd00;
}

.resumo-valores {
  margin-top: 65px;
  margin-bottom: 0;
}

.resumo-valores p {
  margin-bottom: 15px;
}

.btn-voltar-carrinho {
  position: fixed;
  bottom: 50px;
  right: 220px;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn-finalizar-carrinho {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
  text-decoration: none;  
  transition: all 0.2s ease-in-out;
}

.btn-voltar-carrinho:hover, .btn-finalizar-carrinho:hover{
  transform: scale(1.2);
}

.pedidos {
  display: flex;
  flex-direction: column;
  gap: 35px; 
  width: 800px;
  height: 400px;
  padding: 50px;
  overflow: auto;
  margin-left: 50px;
  position: relative;
  bottom: 20px;
}

.card-produtos {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 150px;
  padding: 20px;
  background: #000;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px #42fd00;
  position: relative;
}

.produtos-carrinho {
  width: 150px;
}

.header-card-carrinho {
  display: flex;
  align-items: center;
  position: relative;
}

.header-card-carrinho img {
  width: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-card-carrinho img:hover {
  transform: scale(1.2);
}

.descricao-produto-carrinho {
  margin: 20px 0;
}

.info-valors-card-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.btns-item-carrinho {
  display: flex;
  gap: 20px;
}

.btns-item-carrinho button {
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  background-color: #42fd00;
  color: #000;
}

.btns-item-carrinho button:hover {
  background-color: #000;
  color: #42fd00;
}

.btns-item-carrinho span {
  font-size: 20px;
  color: #42fd00;
}


.historico-cliente h2 {
  color: #42fd00;
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}

.historico-cliente main {
  min-width: 900px;
  width: 80%;
  margin: 50px auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  overflow: auto;
  padding: 20px;
}

.historico-cliente main .historic-pedidos-cliente {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.dados-pedido {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.produtos-pedido-historic {
  display: flex;
  gap: 20px;
}

.card-historico {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #000;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px #42fd00;
}